/* charity.css */

/*
  selector = What to apply the style to
  styles = Visual definitions
*/

body, html {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}

header {
  height: 300px;
  background-color: rgb(79, 79, 79);
  background-image: url(https://www.ready.gov/sites/default/files/Build%20A%20Team%204.4.2.0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 72px;
  line-height: 300px;
  text-shadow: 0 0 4px #444;
}

aside {
  float: left;
  width: 350px;
  background-color: rgb(79, 79, 79);
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

#main-section {
  float: left;
  width: 600px;
  box-shadow: 0px 0px 4px white;
  margin-left: 24px;
  color: #eee;
  padding-left: 16px;
  padding-right: 16px;
}

.picture {
  box-shadow: 2px 2px cyan;
}

.flip {
  transform: rotateY(180deg);
}

aside img {
  height: 300px;
}
section section img {
  height: 300px;
  width: 600px;
}

a {
  display: inline-block;
  width: 32.9%;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}

a:hover {
  background-color: rgb(204, 165, 10);
  color: white;
}

#support-callout {
  color: white;
  font-size: 2em;
  text-align: center;
}
#support-form label {
  color: white;
}

#support-form {
  width: 50%;
  background-color: #222;
  border-radius: 50px;
  padding: 24px;
  padding-bottom: 110px;
  box-sizing: border-box;
  font-size: 2em;
  position: relative;
  left: 25%;
}

#support-form input {
  width: 100%;
  font-size: 2em;
}

#support-form textarea {
  width: 100%;
  font-size: 1.5em;
}

.submit-button {
  height: 75px;
  font-size: 32px;
  color: white;
  background-color: rgb(142, 255, 161);
  float: right;
}

.card {
  background-color: #fff;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 24px;
}

#staff-table {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  border-collapse: collapse;
}

#staff-table img {
  width: 100px;
}

#staff-table th {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 10px;
}

#staff-table td {
  outline: solid 1px black;
}

#staff-table tr {
  transition: background-color 1s linear;
}

#staff-table tr:hover {
  background-color: purple;
}
